#main {
	width:80%;
	background:whitesmoke;
	border-radius:20px;
	text-align:center;
}

#main h1 {
	font-weight:bold;
}

#main .txt {
	font-size:24px;
	font-weight:bold;
}

#main button {
	font-weight:bold;
}